.bdy2{
    background-color:rgb(203, 253, 183);
   border-radius:5px;
    border:2px solid  rgb(241, 236, 236);}
    .input2{
        width:90%;
        padding:3px;
        margin:25px;
        border-radius:15px;
        border:2px solid rgb(241, 236, 236);
        font-size:20px;
    }
    .Display{
        display:flex;
    }
    .inputl{
        width:15%;
        padding:3px;
        margin:25px;
        border-radius:15px;
        border:2px solid rgb(241, 236, 236);
       
    }